body {
  background-color: aliceblue;
  align-items: center;
  display: flex;
}

.targetCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/* {
  color: green;
} */

/* #myCards.p {
  color: red;
} */

.name{
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
}

.card-title{
  text-align: center;
}
