body {
  background-color: aliceblue;
}

.targetCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
/* {
  color: green;
} */

/* #myCards.p {
  color: red;
} */

.name{
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
}

.card-title{
  text-align: center;
}

header {
  text-align: center;
}

.topButtons {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
